/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fffffff2;
}

/* Hamburger Menu Icon */
.hamburger {
    display: block; /* Always display the hamburger icon */
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

/* Navigation Sidebar */
aside {
    background-color: #cde9fa;
    color: rgb(40, 39, 39);
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -250px; /* Hide sidebar off-screen */
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
    z-index: 500;
}

aside nav ul {
    list-style-type: none;
    padding: 20px 0;
}

aside nav a {
    text-decoration: none;
    color: rgb(40, 39, 39);
    display: block;
    padding: 10px 20px;
}

aside nav a:hover{
    background-color: #555;
    border-radius: 10px;
}

/* Main Content Styles */
main {
    padding: 20px;
    transition: margin-top 0.3s ease-in-out;
}

main h2 {
    margin-bottom: 15px;
}

main section{
    margin-bottom: 20px;
}

section div.books-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

/* Search Bar */

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    background: aliceblue;
    border-color: aqua;
}

button.author-search {
    border-style: none;
    background: none;
    color: #5d64f3;
}




/* Footer Styles */
footer {
    background-color: #cde9fa;
    color: rgb(18, 18, 18);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

/* Media Query for Larger Screens */
@media (min-width: 770px) {
    .hamburger {
        display: none; /* Hide hamburger icon on larger screens */
    }

    aside {
        left: 0; /* Always show sidebar on larger screens */
    }

    main {
        margin-left: 250px; /* Adjust main content position */
    }

    section div.books-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
